{% extends "lingovault_app/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">lingovault</h1>
  
    <p class="lead">Track your language learning progress here.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'lingovault_app:languages' %}" class="btn btn-lg btn-primary" role="button">Enter &raquo;</a>
    {% else %}
    <a href="{% url 'users:register' %}" class="btn btn-lg btn-primary" role="button">Sign up &raquo;</a>
    {% endif %}
  </div>


{% endblock page_header %}








