{% extends 'lingovault_app/base.html' %}

{% block content %}

<p>{{ language }} Posts</p>
<a href="{% url 'lingovault_app:new_post' language.id %}">Add a new post</a>
<p>Posts:</p>
<ul>
{% for post in posts %}
  <li>
    <p>{{ post.date_added|date:'M d, Y H:i' }}</p>
    <p>{{ post.text|linebreaks }}</p>
    <p>
      <a href="{% url 'lingovault_app:edit_post' post.id %}">Edit post</a>
    </p>
  </li>
{% empty %}
  <li>No posts for this language.</li>
{% endfor %}
</ul>

{% endblock content %}